<%-include("partials/header")  %>
<link rel="stylesheet" href="/css/mi-estilo.css">
</head>
<body>
    
<%-include("partials/navbar")  %>


<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center">Lista de Publicaciones</h1>
        </div>
    </div>
    
    <div class="row">
        <div class="col">
            <main id="lista-publicaciones" class="d-flex flex-column gap-2">
                
    
    
    
                
                
            </main>
        </div>
    </div>
    
</div>

<script src="/js/home.js" type="module"></script>

<%-include("partials/footer")  %>